asgiref==3.8.1
autopep8==2.3.2
blinker==1.9.0
boto3==1.36.15
botocore==1.36.15
Brotli==1.1.0
certifi==2024.8.30
cffi==1.17.1
channels==4.2.0
chardet==5.2.0
charset-normalizer==3.4.0
click==8.1.8
colorama==0.4.6
ConfigArgParse==1.7
cryptography==43.0.3
Django==5.1.3
django-allauth==65.2.0
django-appconf==1.0.6
django-compressor==4.5.1
django-cors-headers==4.7.0
django-debug-toolbar==5.0.1
django-prometheus==2.3.1
django-redis==5.4.0
django-silk==5.3.2
django-storages==1.14.4
django-tinymce==4.1.0
django_csp==3.8
djangorestframework==3.15.2
djangorestframework_simplejwt==5.5.0
dotenv==0.9.9
et_xmlfile==2.0.0
Flask==3.1.0
Flask-Cors==5.0.0
Flask-Login==0.6.3
gevent==24.11.1
geventhttpclient==2.3.3
git-filter-repo==2.47.0
gprof2dot==2024.6.6
greenlet==3.1.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.5
jmespath==1.0.1
jwt==1.3.1
locust==2.32.8
MarkupSafe==3.0.2
msgpack==1.1.0
openpyxl==3.1.5
pillow==11.0.0
prometheus_client==0.21.1
psutil==6.1.1
psycopg2-binary==2.9.10
pycodestyle==2.12.1
pycparser==2.22
PyJWT==2.9.0
PyMySQL==1.1.1
pyngrok==7.2.12
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
PyYAML==6.0.2
pyzmq==26.2.1
rcssmin==1.1.2
redis==5.2.1
reportlab==4.4.1
requests==2.32.3
rjsmin==1.2.2
s3transfer==0.11.2
setuptools==75.8.0
six==1.17.0
sqlparse==0.5.2
tzdata==2024.2
urllib3==2.2.3
waitress==3.0.2
Werkzeug==3.1.3
whitenoise==6.8.2
zope.event==5.0
zope.interface==7.2